html{
    background: url(bg-clock.jpg);
    background-size: cover;
}
body{
    margin: 0;
    padding: 0;
}
.clock{
   border: 20px solid white;
   width: 25rem;
   height: 25rem;
   border-radius: 50%;
   margin: 100px auto;
   position: relative;
   padding: 2rem;
}
.clock-face{
    height: 100%;
    width: 100%;
    position: relative;
}
.hand{
    width: 50%;
    height: 6px;
    top: 50%;
    position: absolute;
    background: black;
    transform: rotate(90deg);
    transform-origin: 100%; 
    transition: all 0.05s;
    transition-timing-function:cubic-bezier(0.1, 2.71, 0.58, 1);
}
